body {
    margin: 0px;
}
.top-bar-1 {
    width: 100%;
    height: 8vh;
    background-color: #395144;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 7px;
}
.top-bar-2 {
    width: 100%;
    height: 8vh;
    background-color: #416c50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 7px;
}
.header-title {
    font-size: 1em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.header-login-btn {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.header-logout-btn {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.header-user-btn {
    color: white;
    font-weight: bold;
    /*cursor: pointer;*/
}
.header-close-btn {
    display: inline-block;
    cursor: pointer;
    *display: inline;
}
.header-close-btn:after {
    display: inline-block;
    padding-top: 4px;
    content: "\00d7";
    font-size: 28px;
}
.header-btn {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2vw;
}
.header-btn-collection {
    margin-right: 2vw;
}
.login-box {
    width: 60vh;
    height: 60vh;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login-form {
    width: 80%;
    height: 60%;
    display: flex;
}
.login-form-left {
    width: 70%;
    height: 100%;
}
.login-form-right {
    width: 30%;
    height: 100%;
    display: flex;
}
.login-fields {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-form-field {
    width: 90%;
    height: 45%;
    float: left;
    text-indent: 1em;
    background-color: transparent;
    border: #f0ebce 3px solid;
}
.login-form-field:focus {
    outline: none;
    border: 1px solid #9e7676;
    -webkit-box-shadow: 0px 0px 5px #9e7676;
    box-shadow: 0px 0px 5px #9e7676;
    background-color: rgba(240, 235, 206, 0.3);
}
.login-form-field-2 {
    width: 90%;
    height: 45%;
    float: left;
    text-indent: 1em;
    background-color: transparent;
    border: #baa27a 3px solid;
}
.login-form-field-2:focus {
    outline: none;
    border: 1px solid #9e7676;
    -webkit-box-shadow: 0px 0px 5px #9e7676;
    box-shadow: 0px 0px 5px #9e7676;
    background-color: rgba(186, 162, 122, 0.3);
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.login-submit-button {
    width: 90%;
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    background-color: #f0ebce;
    cursor: pointer;
}
.handbook-title {
    width: 100%;
    height: 8vh;
    display: flex;
    font-weight: bold;
    align-items: center;
    text-indent: 2vw;
}
.search-requirement {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
}
.handbook {
    width: 96vw;
    height: 100%;
    border: 2px solid black;
    display: flex;
}
.handbook-left-div {
    width: 90%;
    height: 100%;
    display: flex;
}
.handbook-left-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.handbook-right-div {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.handbook-init-btn {
    width: 80%;
    height: 30%;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.handbook-submit-btn {
    width: 80%;
    height: 30%;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.handbook-form-title {
    width: 90%;
    height: 25%;
    display: flex;
    font-size: 0.8em;
    align-items: end;
}
.handbook-form-field {
    width: 90%;
    height: 40%;
    float: left;
    text-indent: 1em;
    background-color: transparent;
    border: #395144 2px solid;
}
.handbook-list {
    height: 90%;
    margin: 0px 2vw;
}
.handbook-list-title {
    display: flex;
    align-items: center;
    height: 15%;
    border: 1px solid #d9d9d9;
}
.handbook-list-title-name {
    border: 1px solid #d9d9d9;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    font-size: 1vw;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}
.handbook-list-content-item {
    font-weight: 400;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
}
.handbook-list-content {
    height: auto;
    max-height: 80%;
    border: 1px solid #d9d9d9;
    overflow: overlay;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}
.handbook-list-content-items {
    display: flex;
    font-size: 1vw;
    height: 5vh;
}
.handbook-list-content span {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 600;
}
.handbook-list-bottom {
    height: 10%;
    background-color: #f3f3f3;
    border: 1px solid #d9d9d9;
}
.handbook-btn {
    border: none;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.handbook-btn:disabled{
    color: #666666;
    /*border: 1px solid #999999;*/
    background-color: #cccccc;
    cursor: default;
}
.save-btn {
    background-color: #f0ebce;
}
.apply-btn {
    background-color: #dec08d;
}
.index {
    width: 100%;
    height: 84%;
    z-index: 1;
}
.index .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./resources/images/HYU_symbol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    width: 100%;
    height: 100%;
}
.index-title {
    width: 100%;
    height: 8vh;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 4vh 0px;
}
.index-contents {
    text-align: left;
    text-indent: 2vw;
    font-size: 0.8em;
}
.index-ul {
    margin-bottom: 8vh;
}
ul.index-ul > li {
    text-indent: 0px;
    margin: 0.5em 0px;
}
ul.index-ul > li > a {
    width: auto;
    height: auto;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.bc-ba {
    background-color: #baa27a;
}
.bc-f0 {
    background-color: #f0ebce;
}
.bc-d9 {
    background-color: #d9d9d9;
}
.cb {
    color: black;
}
.cw {
    color: white;
}
.p0 {
    padding: 0px;
}
.p-v1 {
    padding: 22px 19px;
}
.vh2 {
    height: 2vh;
}
.vh4 {
    height: 4vh;
}
.vh8 {
    height: 8vh;
}
.vh15 {
    height: 15vh;
}
.vh17 {
    height: 17vh;
}
.vh56 {
    height: 56vh;
}
.vh83 {
    height: 83vh;
}
.vh84 {
    height: 84vh;
}
.vw96 {
    width: 96vw;
}
.h40 {
    height: 40%;
}
.h45 {
    height: 45%;
}
.h100 {
    height: 100%;
}
.w7 {
    width: 7%;
}
.w8 {
    width: 8%;
}
.w9 {
    width: 9%;
}
.w10 {
    width: 10%;
}
.w11 {
    width: 11%;
}
.w12{
    width: 12%;
}
.w13 {
    width: 13%;
}
.w14 {
    width: 14%;
}
.w15 {
    width: 15%;
}
.w16 {
    width: 16%;
}
.w17 {
    width: 17%;
}
.w19 {
    width: 19%;
}
.w23{
    width: 23%;
}
.w25 {
    width: 25%;
}
.w30 {
    width: 30%;
}
.w70 {
    width: 70%;
}
.w80 {
    width: 80%;
}
.w90 {
    width: 90%;
}
.w100 {
    width: 100%;
}
.f1 {
    flex: 1;
}